.container{
    display: grid;
    height: 500px;
    grid-template-columns:255px 500px 330px 300px ;
    grid-template-rows: 380px 200px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.cell-1,.cell-2,.cell-3,.cell-4,.cell-5{
    border-radius: 15px;
}
.cell-1{
    background-color: #733fc8;
    grid-column-start:1 ;
    grid-column-end:3 ;
    background-image:url(image/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:82% 0 ;
    background-size: auto 145px;
}
.cell-2{
    background-color: #49556b;
}
.cell-3{
    background-color: #877d7d;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
}
.cell-4{
    background-color:#8a7f7f;
    grid-column-start:1 ;
    grid-column-end:1 ;
}
.cell-5{
    grid-column-start:2 ;
    background-color: #18202d;
    grid-column-end: 4;
}
.pf-daniel{
    width: 40px;
    margin-top: 10px;
    box-shadow:0 0 0 3px #a77fe2;
    border-radius: 50%;
    float: left;
}
.cl-1-title{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-template-rows:50px 140px 140px;
}
.b1{
    margin-left: 65px;
    margin-top:10px;
}
.c1-text-1{
    font-size: 29px;
    color: #ffffff;
    font-weight: 300;
}
.c1-text-2{
    color: #b58df0;
    font-size: 18px;
}
.cell-1-pf-text-1{
    color: #ffffff;
}
.cell-1-pf-text-2{
    color:#b58df0 ;

}
.pf-jonathan{
    border-radius: 50%;
    box-shadow:0 0 0 3px #94959a;
    width: 40px;
    float: left;
    margin-top: 10px;
}
.cell-2-pf-text-1{
    color: #f3faff;
}
.cell-2-pf-text-2{
    color:#929fb2;
}
.cl-2-title{
    display: grid;
    margin-top: 30px;
    justify-content: center;
    grid-template-rows:50px 140px 140px;
    
}
.b2{
    margin: 10px 0 0 65px;
}
.c2-text-1{
    color:#e8f1f8; 
    font-size: 28px;
}
.c2-text-2{
    color: #c0c9da;
    font-size:18px;
}